<%#
  # @file
  # Located at /console
  # Console view has the Find/Analyze/Organize tabs, and starts mostly empty
  # so it's kind of like a workspace. You can then save to map, etc.
  # Emphasis is on pulling in and creating data.
  #%>
  <div class="headertop">
    <button onclick="hideSelectedEdges();hideSelectedNodes();">Hide Selected</button>
    <% if authenticated? %>
      <button onclick="var r=confirm('Are you sure you want to permanently delete selected objects?!'); if (r == true) {deleteSelectedEdges();deleteSelectedNodes();}">Permanently Delete Selected</button>
      <button onclick="saveToMap();">Save to Map</button>      
    <% end %>
    <button onclick='clearCanvas();'>Clear Canvas</button>
  </div>
  <div class="clearfloat"></div>
  
<h1 class="index">
  Console
</h1>

  <div class="maps onCanvas" id="container">
    <div id="center-container">
      <div id="infovis"></div>    
    </div>
    <div class="showcard" id="showcard"></div>
  </div>
  <div class="clearfloat"></div>
  <% if authenticated? %>
    <%= render :partial => 'topics/new' %>
    <%= render :partial => 'synapses/new' %>
    <%= render :partial => 'maps/new' %>
  <% end %>
  <script>
	//if (json.length > 0) {
		$(document).ready(function() {
			initialize("chaotic", true);
		});	
	//}
</script>

<%= render :partial => 'find' %>
<%= render :partial => 'analyze' %>
<%= render :partial => 'organize' %>
