<%#
  # @file
  # Located at /
  # Shows 3 most recently created topics, synapses, and maps.
  #%>  
  
<% if !authenticated? %>
    <% content_for :title, "Home | Metamaps" %> 
    <div id="yield">
        <div class="homeWrapper">
                <div class="homeTextWrapper">
                  <div class="homeLogo"></div>
                  <div class="homeText">
                    Welcome to the collaborative, realtime design and sensemaking playground
                    for members of The Value Web globally.
                  </div>
                  <div class="learnMore">LEARN MORE:</div>
                  <div class="homeLinks">
                    <a id="toMetamaps" href="http://metamaps.cc" data-bypass="true"></a>
                    <a id="toTheValueWeb" href="http://www.thevalueweb.org" data-bypass="true"></a>
                  </div>
                </div>

                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: "loginAnywhere" }) do |f| %>
                    <div class="accountInput accountEmail">
                      <%= f.email_field :email, :placeholder => "Email" %>
                    </div>
                    <div class="accountInput accountPassword">
                      <%= f.password_field :password, :placeholder => "Password" %>
                    </div>
                    <div class="accountSubmit"><%= f.submit "SIGN IN" %></div>
                    <% if devise_mapping.rememberable? -%>
                    <div class="accountRememberMe">
                      <%= f.label :remember_me, "Stay signed in" %>
                      <%= f.check_box :remember_me %>
                      <div class="clearfloat"></div>
                    </div>
                    <% end -%>
                    <div class="clearfloat"></div>
                    <div class="accountForgotPass">
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                        <%= link_to "Forgot password?", new_password_path(resource_name), 
                          :data => { :bypass => 'true'} %>
                      <% end -%>
                    </div>
                <% end %>
                <div class="clearfloat"></div>
        </div>
    </div><!-- end yield -->                  
    <script>
    Metamaps.currentSection = "";
    Metamaps.currentPage = "";
    </script>
<% elsif authenticated? %>
    <% content_for :title, "My Maps | Metamaps" %> 
    <script>
    Metamaps.Maps.Mine = <%= @maps.to_json.html_safe %>;
    Metamaps.currentSection = "";
    Metamaps.currentPage = "";
    Metamaps.GlobalUI.Search.isOpen = true;
    Metamaps.GlobalUI.Search.lock();
    </script>
<% end %>