<%= div_for person do %>
	<%= image_tag "person.png", :class => 'icon' %>
	<%= link_to person.name, person_url(person), :class => 'title' %>
	<div class="desc"><h3>About</h3><%=person.desc %></div>
	<%= link_to person.link, person.link, :class => 'link' %>
<% end %>