<%= form_for @person, url: person_url do |form| %>
  <h3>Edit Person</h3>
  <label for="person_name">Name</label>
  <%= form.text_field :name, label: "Name", class: "name" %>
  <label for="person_desc">Description</label>
  <%= form.text_area :desc, label: "Description", class: "description", :rows => 5 %>
  <label for="person_link">Link</label>
  <%= form.text_field :link, label: "Link", class: "link" %>
  <%= form.submit "Update", class: "update" %>
<% end %>