<div class="focus">
	<div class="focusleft">
		<p>Person</p>
		<%= image_tag "person.png", :class => 'icon', :size => '50x50' %>
	</div>
	<div class="focusmiddle">
		<h1 class="title"><%= @person.name %> <%= link_to "[edit]", edit_person_path(@person) %></h1>
		<div class="desc">
			<p><%= @person.desc %></p>
		</div>
	</div>
	<div class="focusright">
		<p>Location</p>
		<%= @person.city %>, <%= @person.province %>, <%= @person.country %>
		<p>Link</p>
		<%= link_to @person.link, @person.link, :class => 'link', :target => '_blank' %>
	</div>
	<div class="clearfloat"></div>
</div>
<div class="clearfloat nodemargin"></div>

<div class="groups">
  <div class="divider"><%= @person.name %> is included in these groups</div>
  <% @gparents.each do |group| %>
    <%= render group %>
  <% end %>
  <% if @gparents.empty? %>
	 <p class="empty">Shucks, there are no groups.</p>
	<% end %>
</div>
<div class="clearfloat"></div>

<div class="items">
  <div class="divider"><%= @person.name %> includes these items</div>
  <% @ichildren.each do |item| %>
    <%= render item %>
  <% end %>
  <% if @ichildren.empty? %>
	 <p class="empty">Shucks, there are no items.</p>
	<% end %>
</div>
<div class="clearfloat"></div>