<% content_for :title, "Sign In | Metamaps" %>

<div id="yield">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :method => :post, :class => "centerGreyForm login" }) do |f| %>
  <h3>SIGN IN</h3>
  
  <div class="accountImage"></div>
  <div>
  <%= f.email_field :email, :autofocus => true %></div>

  <div>
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in" %></div>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <div class="clearfloat"></div></div>
  <% end -%>

  <br />
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "forgotPasswordText" , 
        :data => { :bypass => 'true'}%><br />
  <% end -%>
  <br />
<% end %>
</div>

