<%#
  # @file
  # This file contains code for rendering a new topic form.
  # It's called from the show topic / radial view pages
  #%>

<div class="anypage">
<%= form_for Topic.new, url: topics_url, remote: true do |form| %>
  <div id="metacodeImg">
    <% @m = user.settings.metacodes %>
    <% @metacodes = [] %>
    <% @m.each do |m| %>
      <% @metacodes.push(Metacode.find(m.to_i)) %>
    <% end %>
    <% @metacodes.sort! {|m1,m2| m2.name.downcase <=> m1.name.downcase }.rotate!(-1) %>
    <% @metacodes.each do |metacode| %>
      <img class="cloudcarousel" width="40" height="40" src="/assets/<%= metacode.icon %>" alt="<%= metacode.name %>" title="<%= metacode.name %>"/>
    <% end %>
  </div> 
  <%= form.text_field :name, :maxlength => 140, :placeholder => "title..." %>
  <%= form.hidden_field :metacode, :value => "Action" %>
  <%= form.hidden_field :x, :value => 0 %>
  <%= form.hidden_field :y, :value => 0 %>
  <%= form.hidden_field :grabTopic, :value => "null" %>
  <%= form.hidden_field :addSynapse, :value => false %>
  <div id="metacodeImgTitle"></div>
  <div class="clearfloat"></div>
<% end %>
</div>
