<div class="focus topic_<%= @topic.id %>">
	<div class="focusleft">
		<p><%= @topic.metacode.name %></p>
		<%= image_tag @topic.metacode.icon, :class => 'icon', :size => '50x50' %>
	</div>
	<div class="focusmiddle">
		<h1 class="title"><span class="title-text"><%= @topic.name %></span> <% if (@topic.permission == "commons" && authenticated?) || @topic.user == user %><%= link_to "[edit]", edit_topic_path(@topic) %><% end %></h1>
		<div class="desc">
			<p><%= @topic.desc %></p>
		</div>
	</div>
	<div class="focusright">
		<p>Link</p>
		<%= link_to @topic.link, @topic.link, :class => 'link', :target => '_blank' %>
	</div>
</div>
<div class="clearfloat nodemargin"></div>

<div class="relatives" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
</div>
<div class="clearfloat"></div>

<script>
	json = <%= @relatives %>;
	console.log(json);
	$(document).ready(function() {
		initialize("centered");
	});
</script>

<% if authenticated? %>
  <%= render :partial => 'topics/new' %>
	<%= render :partial => 'synapses/new' %>
<% end %>

