<div class="showcard topic_<%= @topic.id %>">
  <div class="CardOnGraph" title="Click to Hide" id="topic_' + node.id + '">
    <p class="type">
      <%= @topic.metacode.name %>
    </p>
    <img alt="<%= @topic.metacode.name %>" 
         src="/assets/<%= @topic.metacode.name %>.png" 
         class="icon" height="50" width="50" />
    <div class="scroll">
      <a href="/topics/<%=@topic.id%>" class="title">
        <%= @topic.name %>
      </a>
      <div class="contributor">
        Added by: 
        <a href="/users/<%= @user.id %>">
          <%= @user.name %>
        </a>
      </div>
      <div class="desc">
        <p>
          <%= @topic.desc %>
        </p>
      </div>
    </div><!-- div.scroll -->
    <a href="<%= @topic.link %>" class="link" target="_blank">
      <%= @topic.link %>
    </a>
  </div>
</div>
