<%#
  # @file
  # This shows a topic view. It is used.
  # The first commented out section used to be a card at the top showing all
  # info. Now we're moving towards most screens looking the same. The
  # consequence of accessing data from this view is that you can't remove
  # the topic that corresponds to the page you're on. Originally, accessing this
  # page showed the topic with its neighbours arrayed around. Now it shows the
  # same, but there's no cues to say which topic's page you're on. So when the
  # map recenters on a new topic, it's like you're on that topic's page.
  # Nice, but the URL and being unable to remove the root node still hamper that
  # experience.
  # TODO: What URL accesses this view?
  #
  #%>

<!--<div class="focus topic_<%= @topic.id %>">
	<div class="focusleft">
		<p><%= @topic.metacode.name %></p>
		<%= image_tag @topic.metacode.icon, :class => 'icon', :size => '50x50' %>
	</div>
	<div class="focusmiddle">
		<h1 class="title"><span class="title-text"><%= @topic.name %></span> <% if (@topic.permission == "commons" && authenticated?) || @topic.user == user %><%= link_to "[edit]", edit_topic_path(@topic) %><% end %></h1>
		<div class="desc">
			<p><%= @topic.desc %></p>
		</div>
	</div>
	<div class="focusright">
		<p>Link</p>
		<%= link_to @topic.link, @topic.link, :class => 'link', :target => '_blank' %>
	</div>
</div>
<div class="clearfloat nodemargin"></div>-->

<h1 class="index">
  Viewing Topic: <%= @topic.name %>
</h1>

<div class="relatives" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
</div>
<div class="clearfloat"></div>

<script>
	json = <%= @relatives %>;
	console.log(json);
	$(document).ready(function() {
		initialize("centered");
	});
</script>

<% if authenticated? %>
  <%= render :partial => 'topics/new' %>
	<%= render :partial => 'synapses/new' %>
<% end %>

