<%#
  # @file
  # Shows a map as a card.
  # Any list of maps uses this rendering.
  #%>
<figure class="map <%= first ? "current" : "" %>">
  <a href="/maps/<%= map.id %>">
  <div>
  
	  <div class="mapCard"> 
      <span class="title">                                                  
        <%= map.name %>  
      </span>
      <div class="links">                                                   
         <div class="linkItem contributor">
             <%= pluralize(map.contributors.count, 'contributor') %>
         </div>
         <div class="linkItem mapPerm <%= map.mk_permission %>"><%= map.permission.capitalize %></div>
         <div class="clearfloat"></div>                                     
      </div> 
      <div class="desc">                                                    
        <%= map.desc %>                          
      </div>
      <div class="mapContains">      
        <span class="topicCount"><%= pluralize(map.topics.count, 'topic') %></span>                 
        <span class="synapseCount"><%= pluralize(map.synapses.count, 'synapse') %></span>
      </div>     
    </div>
  
  </div>
  </a>
</figure>
