<%#
  # Partial rendering form for a new topic on a map
  # This code is called when viewing a metamap in show.html.erb in the views/maps folder
  #%>
<div class="mapInfoBox mapElement mapElementHidden permission 
  <%= @map && @map.user == user ? " yourMap" : "" %>
  <%= @map && policy(@map).update? ? " canEdit" : "" %>
  <%= @map && @map.permission != 'private' ? " shareable" : "" %>">
  
  <% if @map %>
  <div class="mapInfoName" id="mapInfoName">
    <% if policy(@map).update? %>
      <span class="best_in_place best_in_place_name" id="best_in_place_map_<%= @map.id %>_name" data-url="/maps/<%= @map.id %>" data-object="map" data-attribute="name" data-type="textarea" data-activator="#mapInfoName"><%= @map.name %></span>    
    <% else %>
      <%= @map.name %>
    <% end %>
</div>
  
  <div class="mapInfoStat">
    <div class="infoStatIcon mapContributors hoverForTip">
      <% relevantPeople = @map.permission == "commons" ? @map.contributors : @map.editors %>
      <% if relevantPeople.count == 0 %>
        <img id="mapContribs" width="25" height="25" src="<%= asset_path('user.png'); %>" />
      <% elsif relevantPeople.count == 1 %>
        <img id="mapContribs" width="25" height="25" src="<%= relevantPeople[0].image.url(:thirtytwo) %>" />
      <% elsif relevantPeople.count == 2 %>
        <img id="mapContribs" width="25" height="25" src="<%= relevantPeople[0].image.url(:thirtytwo) %>" class="multiple mTwo" />
      <% elsif relevantPeople.count > 2 %>
        <img id="mapContribs" width="25" height="25" src="<%= relevantPeople[0].image.url(:thirtytwo) %>" class="multiple" />
      <% end %>
      <span class="count"><%= relevantPeople.count %></span>
      <div class="tip">
        <ul><% relevantPeople.each_with_index do |c, index| %>
            <li>
             <a href="/explore/mapper/<%= c.id %>" > <img class="rtUserImage" width="25" height="25" src="<%= asset_path c.image.url(:thirtytwo) %>"  />
               <%= c.name %>
               <% if @map.user == c %> (creator)<% end %>
              </a>
              <% if @map.user != c && @map.user == current_user %>
                <span class="removeCollaborator" data-id=" + m.get('id') + "></span> 
              <% end %>
            </li>         
          <% end %>
        </ul>
        <% if @map.user == current_user %>
          <div class="collabSearchField"><span class="addCollab"></span><input class="collaboratorSearchField" placeholder="Add a collaborator!"></input></div>
        <% end %>
      </div>
    </div>
    <div class="infoStatIcon mapTopics">
      <%= @map.topics.count %>
    </div>
    <div class="infoStatIcon mapSynapses">
      <%= @map.synapses.count %>
    </div>
    <div class="infoStatIcon mapPermission <%= @map.permission %> hoverForTip">
        <div class="tooltips">As the creator, you can change the permission of this map, and the permission of all the topics and synapses you have authority to change will change as well.</div>
    </div>
    <div class="clearfloat"></div>
  </div>
  
  <div class="mapInfoDesc" id="mapInfoDesc">
    <% if policy(@map).update? %>
      <span class="best_in_place best_in_place_desc" id="best_in_place_map_<%= @map.id %>_desc" data-url="/maps/<%= @map.id %>" data-object="map" data-attribute="desc" data-nil="Click to add description..." data-type="textarea" data-activator="#mapInfoDesc"><%= @map.desc %></span>
    <% else %>
      <%= @map.desc %>
    <% end %>
  </div>
  
  <div class="mapInfoMeta">
    <p class="mapCreatedAt"><span>Created by:</span> <%= @map.user == user ? "You" : @map.user.name %> on <%= @map.created_at.strftime("%m/%d/%Y") %></p>
    <p class="mapEditedAt"><span>Last edited:</span> <%= @map.updated_at.strftime("%m/%d/%Y") %></p>
    <div class="mapInfoButtonsWrapper">
      <div class="mapInfoDelete">
        <div class="deleteMap"></div>
        <span>Delete</span>
      </div>
      <div class="mapInfoShare">
        <div class="mapInfoShareIcon"></div>
        <span>Share</span>
      </div>
    </div>
  </div>
  <% end %>
</div>
