<%= div_for map do %>
	<% if map.user == user %><%= link_to 'Delete', map_path(map), :class => 'delete', :confirm => 'Delete this map (nodes and synapses will remain)?', :method => :delete, :remote => true %><% end %>
	<div class="scroll">
		<%= link_to map.name, map_path(map), :class => 'title' %>
		<div class="desc"><p><%= map.desc %></p><p># of Topics: <%= map.items.count %></p><p># of Synapses: <%= map.synapses.count %></p></div>
	</div>
	<div class="link"><p>Permissions:<%= map.permission %></p></div>
<% end %>