<%#
  # @file
  # Partial view, renders a form that creates a new map.
  #%>
<div class="onConsole">
<%= form_for Map.new, url: maps_url, remote: true, html: { class: "new_map", id: "new_map" } do |form|%>
  <h3 class="forCreateMap">Create A New Map</h3>
  
  <div class="inputGroup">
    <label for="map_name">Name: </label>
    <%= form.text_field :name %>
    <div class="clearfloat"></div>
  </div>
  
  <div class="inputGroup">
    <label for="map_desc">Description: </label>
    <%= form.text_area :desc, class: "description", :rows => 5, :cols => 43 %>
    <div class="clearfloat"></div>
  </div>
  
  <div class="inputGroup">
    <label for="map_permission">Permission: </label>    
    
    <div class="permIcon" data-permission="commons">
      <div class="mapCommonsIcon mapPermIcon selected hoverForTip">
        <div class="tip">
          Collaborate with other mappers on editing this map. Those without accounts can view this map.
        </div>
      </div>
      <h4>COMMONS</h4>
    </div>
    <div class="permIcon" data-permission="public">
      <div class="mapPublicIcon mapPermIcon hoverForTip">
        <div class="tip">
          Anyone, with or without an account, can view this map but not edit anything.
        </div>
      </div>
      <h4>PUBLIC</h4>
    </div>
    <div class="permIcon" data-permission="private">
      <div class="mapPrivateIcon mapPermIcon hoverForTip">
        <div class="tip">
          Only you can view or edit this map.
        </div>
      </div>
      <h4>PRIVATE</h4>
    </div>
    
    <%= form.hidden_field :permission, :value => "commons" %>
    <div class="clearfloat"></div>
  </div>
  
  <p class="permText">*new topics and synapses take on the same permission as the map they are created on</p>
  
  <div class="buttonWrapper">
    <button class="button" onclick="cancelMapCreate('new_map'); return false;">Cancel</button>
    <%= form.submit "Create!", class: "add" %>
  </div>
  
  <div class="clearfloat"></div>
<% end %>
</div>
