<%#
  # Partial rendering form for a new topic on a map
  # TODO: Where is this code used?
  #%>
<div class="anypage">
<%= form_for Topic.new, url: topics_url, remote: true do |form| %>
  <div id="metacodeImg">
    <% @m = user.settings.metacodes %>
    <% @m.each do |m| %>
      <% metacode = Metacode.find(m.to_i) %>
      <img class="cloudcarousel" width="40" height="40" src="/assets/<%= metacode.icon %>" alt="<%= metacode.name %>" title="<%= metacode.name %>"/>
    <% end %>
  </div> 
  <%= form.text_field :name, :placeholder => "title..." %>
  <%= form.hidden_field :metacode, :value => "Action" %>
  <%= form.hidden_field :x, :value => 0 %>
  <%= form.hidden_field :y, :value => 0 %>
  <% if (@map.permission == "commons" && authenticated?) || @map.user == user %>
    <%= form.hidden_field :map, :value => @map.id %>
  <% end %>
  <%= form.hidden_field :grabTopic, :value => "null" %>
  <%= form.hidden_field :addSynapse, :value => false %>
  <!--<input id="left-but"  type="button" value="Left" />-->
  <div id="metacodeImgTitle"></div>
  <!--<input id="right-but" type="button" value="Right" />-->
  <div class="clearfloat"></div>
<% end %>
</div>
