<%= form_for @map, url: user_map_url(@user, @map) do |form| %>
  <h3>Edit Map</h3>
  <label for="map_name">Name</label>
  <%= form.text_field :name %>
  <label for="map_desc">Description</label>
  <%= form.text_area :desc, class: "description", :rows => 5 %>
  <label for="map_perm">Permission</label>
  <%= form.select(:permission, options_for_select(['commons', 'public', 'private']), { :selected => @map.permission }) %>
  <%= form.submit "Update", class: "update" %>
<% end %>
