<%#
  # @file
  # Code to display a map
  # /maps/:id
  #%>

<% content_for :title, @map.name + " | Metamaps" %>   
  
<div class="headertop">
    <% if authenticated? %>
      <% if (@map.permission == "commons" && authenticated?) || @map.user == user %>
        <button onclick="removeSelectedEdges();removeSelectedNodes();">Remove Selected From Map</button>
      <% end %>
      <button onclick="var r=confirm('Are you sure you want to permanently delete selected objects?!'); if (r == true) {deleteSelectedEdges();deleteSelectedNodes();}">Permanently Delete Selected</button>
      <% if (@map.permission == "commons" && authenticated?) || @map.user == user %>
			  <%= form_for @map, :url => savelayout_path(@map), :html => { :class => "saveMapLayout", :id => "saveMapLayout"}, remote: true do |form| %>
				  <%= form.hidden_field "coordinates", :value => "" %>
				  <%= form.submit "Save Layout", class: "saveLayout", id: "saveLayout" %>
			  <% end %>
		  <% end %>
    <% end %>
</div>
<div class="clearfloat"></div>

<div class="maps onMap white_bg" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
</div>
<div class="clearfloat"></div>

<% if authenticated? %>
  <%= render :partial => 'newtopic' %>
  <%= render :partial => 'newsynapse' %>
<% end %>
  
<script>
  var dragged = 0;
  mapid = <%= @map.id %>;
  <% if (@map.permission == "commons" && authenticated?) || @map.user == user %>
    mapperm = true;
  <% end %>
</script>

<script>
  viewMode = "graph";
	json = <%= @mapjson %>;
	if (json.length > 0) {
		$(document).ready(function() {
			<% if (@map.arranged) %>
				initialize("arranged", false, true);
			<% else %>
				initialize("chaotic", false, true);
			<% end %>
		});
	}
  else {
		$(document).ready(function() {
				initialize("chaotic", true, true);
		});
	}
  MetamapsModel.embed = true;
</script>
