<%#
  # @file
  # Form to create a new map.
  # Accessible from /maps/new. Still in use.
  #%>
  
<% content_for :title, "New Map | Metamaps" %>  
  
<div class="nothidden">
<%= form_for @map || Map.new, url: maps_url do |form|%>
  <h3>Add Map</h3>
  <label for="map_name">Name</label>
  <%= form.text_field :name %>
  <label for="map_desc">Description</label>
  <%= form.text_area :desc, class: "description", :rows => 5 %>
  <label for="map_permission">Permission</label>
  <%= form.select(:permission, options_for_select(['commons', 'public', 'private'])) %>
  <p>Topics and synapses you create newly on this map will be set by default to the permissions of your map.</p>
  <%= form.submit "Add Map", class: "add" %>
<% end %>
</div>
