<% topic = @entity || entity %>
<% event = @event || event %>
<% button_style = "background-color:#4fc059;border-radius:2px;color:white;display:inline-block;font-family:Roboto,Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;min-height:29px;line-height:29px;min-width:54px;outline:0px;padding:0 8px;text-align:center;text-decoration:none" %>
<p>
  <span style="font-weight: bold;"><%= event.user.name %></span>
  added topic <span style="font-weight: bold"><%= topic.name %></span>
  to map <span style="font-weight: bold"><%= event.map.name %></span>
</p>

<%= link_to 'Go to Topic', topic_url(topic), style: button_style %>
<%= link_to 'Go to Map', map_url(event.map), style: button_style %>