<div class="focus">
	<div class="focusleft">
		<p>Group</p>
		<%= image_tag "group.png", :class => 'icon', :size => '50x50' %>
	</div>
	<div class="focusmiddle">
		<h1 class="title"><%= @group.name %> <%= link_to "[edit]", edit_group_path(@group) %></h1>
		<div class="desc">
			<p><%= @group.desc %></p>
		</div>
	</div>
	<div class="focusright">
	    <p>Location</p>
		<%= @group.city %>, <%= @group.province %>, <%= @group.country %>
		<p>Link</p>
		<%= link_to @group.link, @group.link, :class => 'link' %>
	</div>
</div>
<div class="clearfloat nodemargin"></div>

<div class="groups">
  <div class="divider"><%= @group.name %> is included in these groups</div>
  <% @gparents.each do |group| %>
    <%= render group %>
  <% end %>
  <% if @gparents.empty? %>
	 <p class="empty">Shucks, there are no groups.</p>
  <% end %>
</div>
<div class="clearfloat"></div>

<div class="groups">
  <div class="divider"><%= @group.name %> includes these groups</div>
  <% @gchildren.each do |group| %>
    <%= render group %>
  <% end %>
  <% if @gchildren.empty? %>
	 <p class="empty">Shucks, there are no groups.</p>
  <% end %>
</div>
<div class="clearfloat"></div>

<div class="people">
  <div class="divider"><%= @group.name %> includes these people</div>
  <% @pchildren.each do |people| %>
    <%= render people %>
  <% end %>
  <% if @pchildren.empty? %>
	 <p class="empty">Shucks, there are no people.</p>
	<% end %>
</div>
<div class="clearfloat"></div>

<div class="items">
  <div class="divider"><%= @group.name %> includes these items</div>
  <% @ichildren.each do |item| %>
    <%= render item %>
  <% end %>
  <% if @ichildren.empty? %>
	 <p class="empty">Shucks, there are no items.</p>
	<% end %>
</div>
<div class="clearfloat"></div>