<%= formula_form_for @user, url: user_url do |form| %>
  <h3>Edit Account</h3>
  <%= form.input :name, label: "Name", class: "name" %>
  <%= form.input :email, label: "Email", class: "email" %>
  <%= form.input :password, label: "Password", class: "password" %>
  <%= form.submit "Update", class: "update" %>  
<% end %>