<%= formula_form_for @user, url: users_url do |form| %>
  <h3>Create Account</h3>
  <%= form.input :name, label: "Name", class: "name" %>
  <%= form.input :email, label: "Email", class: "email" %>
  <%= form.input :password, label: "Password", class: "password" %>
  <%= form.submit "Login", class: "add" %>  
<% end %>


