<%#
  # @file
  # User profile page
  # TODO: What URL?
  # TODO: Is this code used?
  #%>
<!--<div class="focus">
	<div class="focusleft">
		<p># of Topics: <%= @user.topics.count %></p>
		<p># of Synapses: <%= @user.synapses.count %></p>
		<p># of Maps: <%= @user.maps.count %></p>
	</div>
	<div class="focusmiddle">
		<h1 class="title"><%= @user.name %></h1>
		<div class="desc">
			<p><%= link_to "View their topics", user_topics_path(@user)%></p>
			<p><%= link_to "View their synapses", user_synapses_path(@user)%></p>
			<p><%= link_to "View their maps", user_maps_path(@user) %></p>
		</div>
	</div>
	<div class="focusright">
	</div>
</div>
<div class="clearfloat nodemargin"></div>-->

<div class="profile">

<h2>Recently Created Topics <%= link_to "see all", user_topics_path(@user)%></h2>
<div class="centeredProfile">
<% @topics.each do |topic| %>
    <%= render topic %>
<% end %>
</div>
<div class="clearfloat"></div>

<h2>Recently Created Synapses <%= link_to "see all", user_synapses_path(@user)%></h2>
<div class="centeredProfile">
<% @synapses.each do |synapse| %>
    <%= render synapse %>
<% end %>
</div>
<div class="clearfloat"></div>

<h2>Recently Created Maps <%= link_to "see all", user_maps_path(@user)%></h2>
<div class="centeredProfile">
<% @maps.each do |map| %>
    <%= render map %>
<% end %>
</div>
<div class="clearfloat leaveSpace"></div>

</div>

<h1 class="index">
  Viewing Mapper: <%= @user.name %>
</h1>
