<div id="yield">  
  <div class='blackBox'>
  <%= render :partial => 'admin/adminpanel' %>
  <br />
  <table>
    <tr>
      <th>Name</th>
      <th class='metacodeSetsDescription'>Description</th>
      <th>Metacodes</th>
    </tr>

  <% @metacode_sets.each do |metacode_set| %>
    <tr>
      <td>
        <%= metacode_set.name %><br />
        <%= link_to 'Edit', 
            edit_metacode_set_path(metacode_set), :data => { :bypass => 'true'} %>
        <br />
        <%= link_to 'Delete', 
            metacode_set, method: :delete,
            data: { confirm: 'Are you sure?', bypass: 'true' } %>
      </td>
      <td class='metacodeSetDesc'><%= metacode_set.desc %></td>
      <td>
        <% metacode_set.metacodes.each_with_index do |metacode, index| %>
          <img class='metacodeSetImage' src='<%= asset_path metacode.icon %>' />
          <% if (index+1)%4 == 0 %>
          <div class='clearfloat'></div>
          <% end %>
        <% end %>
        <div class='clearfloat'></div>
      </td>
    </tr>
  <% end %>
  </table>
  </div>
</div>
