<h1 class='index'>
  <%= @metacode_set.name %>
</h1>

<div class='blackBox'>
<p>
  <b>Name:</b>
  <%= @metacode_set.name %>
</p>

<p>
  <b>Description:</b>
  <%= @metacode_set.desc %>
</p>


<%= link_to 'Edit', edit_metacode_set_path(@metacode_set) %> |
<%= link_to 'Back', metacode_sets_path %>
</div>