<%= form_for(@in_metacode_set) do |f| %>
  <% if @in_metacode_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@in_metacode_set.errors.count, "error") %> prohibited this in_metacode_set from being saved:</h2>

      <ul>
      <% @in_metacode_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :metacode %><br />
    <%= f.text_field :metacode %>
  </div>
  <div class="field">
    <%= f.label :metacode_set %><br />
    <%= f.text_field :metacode_set %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
