<h1>Listing in_metacode_sets</h1>

<table>
  <tr>
    <th>Metacode</th>
    <th>Metacode set</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @in_metacode_sets.each do |in_metacode_set| %>
  <tr>
    <td><%= in_metacode_set.metacode %></td>
    <td><%= in_metacode_set.metacode_set %></td>
    <td><%= link_to 'Show', in_metacode_set %></td>
    <td><%= link_to 'Edit', edit_in_metacode_set_path(in_metacode_set) %></td>
    <td><%= link_to 'Destroy', in_metacode_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New In metacode set', new_in_metacode_set_path %>
