<p id="notice"><%= notice %></p>

<p>
  <b>Metacode:</b>
  <%= @in_metacode_set.metacode %>
</p>

<p>
  <b>Metacode set:</b>
  <%= @in_metacode_set.metacode_set %>
</p>


<%= link_to 'Edit', edit_in_metacode_set_path(@in_metacode_set) %> |
<%= link_to 'Back', in_metacode_sets_path %>
