<div id="yield">
  <div class='blackBox'>
  <%= render :partial => 'admin/adminpanel' %>
  <br />
  <table>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Color</th>
      <th></th>
      <th></th>
    </tr>

  <% @metacodes.each do |metacode| %>
    <tr>
      <td><%= metacode.name %></td>
      <td class="iconURL"><%= asset_path metacode.icon %></td>
      <% if metacode.color %>
        <td class="iconColor" style="background-color: <%= metacode.color %>">
          <%= metacode.color %>
        </td>
      <% else %>
        <td></td>
      <% end %>
      <td><img width='40' src='<%= asset_path metacode.icon %>' /></td>
      <td><%= link_to 'Edit', edit_metacode_path(metacode), :data => { :bypass => 'true'} %></td>
    </tr>
  <% end %>
  </table>
  </div>
</div>
