<% button_style = "background-color:#4fc059;border-radius:2px;color:white;display:inline-block;font-family:Roboto,Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;min-height:29px;line-height:29px;min-width:54px;outline:0px;padding:0 8px;text-align:center;text-decoration:none" %>

<!DOCTYPE html>
<div style="padding: 16px; background: white; text-align: left; font-family: Arial">
  <p>Hey <%= @user.name %>, there was activity by others in the last 24 hours on map
    <%= link_to @map.name, map_url(@map) %>
  </p>
  <p># of messages: <%= @summary_data[:stats][:messages_sent] || 0 %></p>
  <p># of topics added: <%= @summary_data[:stats][:topics_added] || 0 %></p>
  <p># of topics moved: <%= @summary_data[:stats][:topics_moved] || 0%></p>
  <p># of topics removed: <%= @summary_data[:stats][:topics_removed] || 0 %></p>
  <p># of synapses added: <%= @summary_data[:stats][:synapses_added] || 0 %></p>
  <p># of synapses removed: <%= @summary_data[:stats][:synapses_removed] || 0 %></p>
  <hr>
  <% if @summary_data[:topics_added] %>
    <h2>Topics Added</h2>
    <ul>
      <% @summary_data[:topics_added].each do |event| %>
        <li><%= event.eventable.name %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @summary_data[:topics_removed] %>
    <h2>Topics Removed</h2>
    <ul>
      <% @summary_data[:topics_removed].each do |event| %>
        <li><%= event.eventable.name %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @summary_data[:synapses_added] %>
    <h2>Synapses Added</h2>
    <ul>
      <% @summary_data[:synapses_added].each do |event| %>
        <li><%= event.eventable.topic1.name %> -> <%= event.eventable.topic2.name %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @summary_data[:synapses_removed] %>
    <h2>Synapses Removed</h2>
    <ul>
      <% @summary_data[:synapses_removed].each do |event| %>
        <li><%= event.eventable.topic1.name %> -> <%= event.eventable.topic2.name %></li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Visit Map', map_url(@map), style: button_style %>

  <hr>
  <p style="font-size: 14px;">Make sense with Metamaps</p>
  <%= link_to 'Unfollow this map', unfollow_from_email_map_url(@map) %>
  <%= render partial: 'shared/mailer_unsubscribe_link' %>
</div>
