<div class="showcard item_<%= node.id %>">
  <div class="CardOnGraph" title="Click to Hide" id="item_' + node.id + '">
    <p class="type">
      <%= node.getData("itemcatname") %>
    </p>
    <img alt="<%= node.getData("itemcatname") %>" class="icon" height="50" src="<%= imgArray[node.getData("itemcatname")].src %>" width="50" />
    <div class="scroll">
      <a href="/items/<%=node.id%>" class="title">
        <%= node.name %>
      </a>
      <div class="contributor">
        Added by: 
        <a href="/users/<%= node.getData('userid')%>">
          <%= node.getData('username') %>
        </a>
      </div>
      <div class="desc">
        <p>
          <%= node.getData('desc') %>
        </p>
      </div>
    </div><!-- div.scroll -->
    <a href="<%= node.getData('link') %>" class="link" target="_blank">
      <%= node.getData('link') %>
    </a>
  </div>
</div>
