<div class="nothidden">
<%= form_for @item || Item.new, url: user_items_path do |form| %>
  <h3>Add Topic</h3>
  <label for="category">Category</label>
  <%= select_tag "category", options_from_collection_for_select(ItemCategory.order("name ASC").all, "id", "name") %>
  <label for="item_name">Title</label>
  <%= form.text_field :name %>
  <label for="item_desc">Description</label>
  <%= form.text_area :desc, class: "description", :rows => 5 %>
  <label for="item_link">Link</label>
  <%= form.text_field :link, class: "link" %>
  <label for="item_permission">Permission</label>
  <%= form.select(:permission, options_for_select(['commons', 'public', 'private'])) %>
  <%= form.submit "Add Topic", class: "addTopic", id: "addTopic" %>
<% end %>
</div>