<div class="focus">
	
	<div class="focusleft">
		<p><%= @item.item_category.name %></p>
		<%= image_tag @item.item_category.icon, :class => 'icon', :size => '50x50' %>
	</div>
	<div class="focusmiddle">
		<h1 class="title"><%= @item.name %> <% if @user %><%= link_to "[edit]", edit_item_path(@item) %><% end %></h1>
		<div class="desc">
			<p><%= @item.desc %></p>
		</div>
	</div>
	<div class="focusright">
		<p>Link</p>
		<%= link_to @item.link, @item.link, :class => 'link', :target => '_blank' %>
	</div>
</div>
<div class="clearfloat nodemargin"></div>

<div class="relatives" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
  <div id="showcard">
  </div>
</div>
<div class="clearfloat"></div>

<script>
	json = <%= @relatives %>;
	console.log(json);
	$(document).ready(function() {
		initRG();
	});
</script>

<%= render :partial => 'items/new' %>
<%= render :partial => 'synapses/new' %>
