<% content_for :title, "Password Reset | Metamaps" %>

<div id="yield">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "forgotPassword centerGreyForm" }) do |f| %>
  <%= devise_error_messages! %>
  
  <h3>FORGOT PASSWORD?</h3>

  <div><%= f.label :email, "Enter your email:", :class => "firstFieldText" %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send Password Reset Instructions" %></div>
  
<% end %>
</div>


