<%#
  # @file
  # The inner HTML of the account box that comes up in the bottom left
  #%>

  <% account = current_user %>
  <%= image_tag user.image.url(:thumb), :size => "48x48", :class => "sidebarAccountImage" %>
  <h3 class="accountHeader"><%= account.name.split[0...1][0] %></h3>
  <ul>
    <li class="accountListItem accountSettings">
      <div class="accountIcon"></div>
      <%= link_to "Account", edit_user_url(account), :data => { :bypass => 'true'} %>
    </li>
    <% if account.admin %>
      <li class="accountListItem accountAdmin">
        <div class="accountIcon"></div>
        <%= link_to "Admin", metacodes_path, :data => { :bypass => 'true'} %>
      </li>
    <% end %>
    <li class="accountListItem accountLogout">
      <div class="accountIcon"></div>
      <%= link_to "Sign Out", "/logout", id: "Logout", :data => { :bypass => 'true'} %>
    </li>
  </ul>