<%#
  # @file
  # The inner HTML of the account box that comes up in the bottom left
  #%>


<div id="lightbox_overlay">
  <div id="lightbox_main">
    <a id="lightbox_close" href="#"></a>
    <div id="lightbox_content">
      
      <div class="lightboxContent" id="about">
        <h3>About Metamaps.cc</h3>
            <div id="aboutParms">
            <div id="leftAboutParms">
                <p>STATUS: </p>
                <p>VERSION:</p>
                <p>LAST UPDATE:</p>
            </div> 
                
            <div id="rightAboutParms">
                <p>PRIVATE BETA</p>
                <p>2.6</p>
                <p>Aug 31, 2014</p>
            </div>  
            <div class="clearfloat">  
            </div>  
            </div>  

                
        <p>Metamaps.cc is a free and open source web platform for changemakers, innovators, educators and students. It enables individuals and communities to build and visualize their shared knowledge and unlock their collective intelligence.</p>

<p>We're creating tools to help connect people, resources and ideas with rich detail and weave those relationships into actionable insights and stories. The platform is evolving for a range of applications amidst a growing network of designers, developers, practitioners, entrepreneurs, and artists.</p>

<p>Metamaps.cc is created and maintained by a distributed, nomadic community comprised of technologists, artists and storytellers. We are currently based between San Francisco, CA and Waterloo, Ontario, Canada. Learn more in the PAQ link below.</p>
        
        <ul class="lightbox_links">
          <li>
            <a id="lightbox_metamapss" href="https://twitter.com/metamapps" target="_blank">
              <div class="lightboxAboutIcon"></div>
              @metamapps
            </a>
          </li>
          <li>
            <a id="lightbox_community" href="https://plus.google.com/u/0/communities/115060009262157699234" target="_blank">
              <div class="lightboxAboutIcon"></div>
              community
            </a>
          </li>
          <li>
            <a id="lightbox_blog" href="http://blog.metamaps.cc" target="_blank">
              <div class="lightboxAboutIcon"></div>
              blog
            </a>
          </li>
          <li>
            <a id="lightbox_source" href="https://github.com/Connoropolous/metamaps_gen002" target="_blank">
              <div class="lightboxAboutIcon"></div>
              source code
            </a>
          </li>
          <li>
            <a id="lightbox_term" href="http://metamaps.cc/maps/331" target="_blank">
              <div class="lightboxAboutIcon"></div>
              terms
            </a>
          </li>
        </ul>
        <div class="clearfloat"></div>
      </div>

      <div class="lightboxContent" id="colophon">
        <h3 id="colophoneHeader">Colophon</h3>
                
        <p>Metamaps.cc is an initiative of affiliates of the Metamaps Open Value Network, an evolving network of peers working together to create shared value. Metamaps continues to be a constantly developing experiment in progress.</p>

        <p>The peers behind Metamaps have their own respective backgrounds as artists, designers, engineers, advocates, activitists, filmmakers and systems thinkers and share a deep commitment to the creative culture they support.</p>
        <h4 id="colophonSection">ACTIVE PEERS (as of 10/2014)</h4>
        <p>Robert Best, Benjamin Brownell, Marija Coneva, Devin Howard, Bashar Jabbour, Raymon Johnstone, Shai Mor, Ishan Shapiro, Connor Turland </p>

        <h4 id="colophonSection">ICONOGRAPHY</h4>

        <p>Iconography within Metamaps is a distinctive and subtle art. We thank the following creators of icons used throughout Metamaps for the courtesy of sharing their work under Creative Commons licenses:<p>

        <h4 id="colophonSectionIndented">System Icons</h4>
        <p id="colophonLinks"><a href="http://thenounproject.com/r0">Ryan Oksenhorn</a>, <a href="http://thenounproject.com/leonides.dm">Leonides Delgado</a>, <a href="http://thenounproject.com/matheusanturio">Matheus Antúrio</a>, <a href="http://thenounproject.com/nl_menghini">Nicholas Menghini</a>, <a href="http://thenounproject.com/useiconic.com">useiconic.com</a>, <a href="http://thenounproject.com/Icomatic">Icomatic</a>, <a href="http://thenounproject.com/ansteydesign">AnsteyDesign</a>, <a href="http://thenounproject.com/somerandomdude">P.J. Onori</a>, <a href="http://thenounproject.com/Michzen">Michael Zenaty</a>, <a href="http://thenounproject.com/edward">Edward Boatman</a>, <a href="http://thenounproject.com/garrett.knoll">Garrett Knoll</a>, <a href="http://thenounproject.com/misirlou">misirlou</a>, <a href="http://thenounproject.com/DmitryBaranovskiy">Dmitry Baranovskiy</a>, <a href="http://thenounproject.com/waymanate">Nathan Thomson</a>, <a href="http://thenounproject.com/razerk">Alex Auda Samora</a>, <a href="http://thenounproject.com/bernar.novalyi">Bernar Novalyi</a>, <a href="http://thenounproject.com/jeremy.j.bristol">Jeremy J Bristol</a>, <a href="http://thenounproject.com/FivebyFive/">FivebyFive</a>, <a href="http://thenounproject.com/thibault.geffroy">Thibault Geffroy</a>, <a href="http://cargocollective.com/gavinkeech">Gavin Keech</a></p>

        <p>We are also indebted to <a href="http://thenounproject.com/">The Noun Project</a>, an invaluable resource for iconography on the web, and also where many of the above creators' icons can be found.</p>

        <h4 id="colophonSectionIndented">Metacodes:</h4>
        <p id="colophonLinks">Legacy:<a href="http://cargocollective.com/gavinkeech">Gavin Keech</a>, <a href="http://notthisbody.com/">Notthisbody</a><br><a href="http://thenounproject.com/FivebyFive/">FivebyFive</a></p>

        <h4 id="colophonSection">MEDIA</h4>
        <p>Intro video: <a href="http://notthisbody.com/">Notthisbody</a>, <a href="https://uwaterloo.ca/arts/people-profiles/glenn-stillar">Glenn Stillar</a> <br>Tutorial videos: <a href="http://notthisbody.com/">Notthisbody</a></p>

        <h4 id="colophonSection">OPEN SOURCE CREDITS</h4>

        <p>We make extensive use of open source software for the various technologies, architectures, and interfaces that run Metamaps.cc. We would be unable to offer the service as we envision it without these publicly developed projects.</p>

        <p id="colophonCols">Javascript<br>
        Ruby-on-rails<br>
        Javascript Infoviz Toolkit<br>
        Backbone.js<br>
        Underscore.js<br>
        Famo.us<br>
        Typeahead.js</p><br>

        <h4 id="colophonSection">BUILDING METAMAPS</h4>

        <p> These are the tools and services that the Metamaps team uses to work together and build the platform. Wherever possible, we link directly to a place where we work via a linked asterisk*.</p>
        <div id="colophonCols">
        <h4 id="colophonSection">Communication</h4>
        <ul>
            <li>Asana</li>
            <li>Invision App <a href="http://invis.io/541GCFJRM">*</a></li>
            <li>Docracy <a href="https://www.docracy.com/userprofile/show?userId=7366">*</a></li>
            <li>Google Hangouts</li>
            <li>Google Plus <a href="https://plus.google.com/communities/115060009262157699234">*</a></li>
            <li>Hipchat</li>
            <li>Hackpad <a href="http://metamaps.hackpad.com/">*</a></li>
            <li>Loomio <a href="https://www.loomio.org/g/bu3L1tIW/topos-ffo">*</a></li>
            <li>Twitter <a href="http://twitter.com/metamapps">*</a></li>
            <li>Vimeo </li>
            <li>Youtube</li></ul>
            <br>
        <h4 id="colophonSection">Development</h4>
        <ul>
            <li>Git</li>
            <li>Github<a href="https://github.com/Connoropolous/metamaps_gen002">*</a></li></ul>
      <h4 id="colophonSection">Documentation</h4>
        <ul><li>Dropbox <a href="https://www.dropbox.com/sh/qqkesm0pmzaihfa/AAAv9aCVZeawUzDXrdM9y3T5a?dl=0">*</a></li>
        <li>Google Drive <a href="https://drive.google.com/folderview?id=0B_RQI2WcwEHLckplOHhhdnZkSUE&usp=sharing">*</a></li>
        <li>Toggl</li></ul>
        <br>
      <h4 id="colophonSection">Hosting</h4>
        <ul><li>Heroku</li>
        <li>Linode</li>
        <li>Webhostinghub</li></ul>
        <br>
    <h4 id="colophonSection">Monitoring & Metrics</h4>
       <ul><li>Google Analytics</li></ul>
      <br>
    <h4 id="colophonSection">Support</h4>
        <ul><li>Uservoice <a href="http://support.metamaps.cc/">*</a></li></ul>
        
      </div>
        <div class="clearfloat"></div>
      </div>

    <div class="lightboxContent" id="getInvolved">
        <h3>GET INVOLVED!</h3>
<div class="leaveSpace"></div>  
        
        <p>Want to help us with design, code, marketing and management for Metamaps? We are an open value network, which for us means that we want to invite and empower peers to participate in creating value together.</p>

        <p>We welcome contributions in many forms. One of the easiest and best things you can do is to keep on mapping your ideas into the commons on the platform!</p>

        <p>We welcome people of all skillsets to contribute to the project in different ways. Designers, researchers, academics, strategists, and facilitators can get in touch about opportunities to contribute to the project. If you're a developer, help us advance the code and take a look around our <a href="http://github.com/connoropolous/metamaps_gen002" target="_blank">Github</a>.</p>

        <p>Financial contributions are greatly appreciated in support of our work. All financial contributions are transparently governed and recorded in our value accounting system.</p>

        <div class="clearfloat"></div>
      </div>
      
      <div class="lightboxContent" id="tutorial">
        <h3>Tutorial</h3>
        <iframe src="//player.vimeo.com/video/88334167?title=0&amp;byline=0&amp;portrait=0" width="510" height="319" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      
      <div class="lightboxContent" id="cheatsheet">
        <%= render :partial => 'shared/cheatsheet' %>
      </div>    
      
      <% if authenticated? %>
        <div class="lightboxContent" id="invite">
          <h3>SHARE INVITE</h3>
            
<div class="leaveSpace"></div>  
<p>The Metamaps platform is currently in an invite-only beta with the express purpose of creating a high value knowledge ecosystem, as well as building a community of contributors. As a valued beta tester, you have the ability to invite your peers, colleagues and collaborators onto the platform.</p>
<p>Copy and send the link + access code below. The access code below is your personal code and can be used multiple times.</p>
            <div id="joinCodesBox">
          <p class="joinCodes">HTTP://METAMAPS.CC/JOIN</p>
        <% mapper = current_user %>
          <p class="joinCodes">ACCESS CODE: <%= mapper.code %></p>
            </div>
            
        </div>
      
        <% # this is the create new map form %>
        <div class="lightboxContent" id="newmap">  
          <%= render :partial => 'layouts/newmap' %>
        </div>
      
        <div class="lightboxContent" id="forkmap">  
          <%= render :partial => 'shared/forkmap' %>
        </div>

        <div class="lightboxContent" id="switchMetacodes">
          <%= render :partial => 'shared/switchmetacodes' %>
        </div>
      <% end %>
      
    </div>
  </div>
  <div id="lightbox_screen" style="height: 100%;"></div>
</div>

