<!DOCTYPE html>
<html>
<head>
  <title>ISSAD</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'style.css'   %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_tag :div, class: authenticated? ? "main authenticated" : "main unauthenticated" do %>

        <div class="headertop">
			<h1 id="mainTitle"><%= link_to "ISSAD", root_path %></h1>&nbsp;beta
			<% unless authenticated? %>
				<ul>
					<li><%= link_to "Login", new_session_path, id: "Login" %></li>
				</ul>
			<% end %>
			<% if authenticated? %>
				<ul>
					<li><%= link_to "Logout", session_path, method: 'delete', id: "Login" %></li>
					<li><%= link_to "New Item", new_item_path %></li>
					<li><%= link_to "Items", items_path %></li>
					<li><%= link_to "New Person", new_person_path %></li>
					<li><%= link_to "People", people_path %></li>
					<li><%= link_to "New Group", new_group_path %></li>
					<li><%= link_to "Groups", groups_path %></li>
				</ul>
			<% end %>
		</div>
		<div class="clearfloat"></div>
		<div class="wrapper" id="wrapper">
			<%= yield %>
		</div>
			
    <div class="footer">
      <div class="wrap">
        <div class="copy">

      </div>
    </div>
    
  <% end %>
</body>
