<!DOCTYPE html>
<html>
<head>
  <title>Metamaps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_tag :div, class: authenticated? ? "main authenticated" : "main unauthenticated" do %>

        <div class="headertop">
			<h1 id="mainTitle"><%= link_to "metamaps", root_path %></h1>&nbsp;beta
			<% unless authenticated? %>
				<ul>
					<li><%= link_to "Login", new_session_path, id: "Login" %></li>
					<li>|</li>
					<li><%= link_to "Topics", items_path %></li>
				</ul>
			<% end %>
			<% if authenticated? %>
				<ul>
					<li><%= link_to "Logout", session_path, method: 'delete', id: "Login" %></li>
					<li><%= link_to "My Synapses", usersynapses_path %></li>
					<li><%= link_to "My Topics", userobjects_path %></li>
					<li>|</li>
					<li><%= link_to "Add Synapse", new_synapse_path %></li>
					<li>|</li>
					<li><%= link_to "Add Topic", new_item_path %></li>
					<li>|</li>
					<li><%= link_to "Topics", items_path %></li>
				</ul>
			<% end %>
		</div>
		<div class="clearfloat"></div>
		<div class="wrapper" id="wrapper">
			<%= yield %>
		</div>
			
    <div class="footer">
      <div class="wrap">
        <div class="copy">

      </div>
    </div>
    
  <% end %>
</body>
