<!DOCTYPE html>
<html>
<head>
  <title>Metamaps</title>
  <% if authenticated? %>
    <script type="text/javascript">
      var userid = "<%= user.id %>";
      var username = "<%= user.name %>";
    </script>
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/tki2nyo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="//use.typekit.net/obp7wss.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_tag :div, class: authenticated? ? "main authenticated" : "main unauthenticated" do %>

    <div class="headertop">
			<% unless authenticated? %>
				<ul id="menus">
					<li><%= link_to "Login", new_session_path, id: "Login" %></li>
				</ul>
			<% end %>
			<% if authenticated? %>
				<ul id="menus">
					<li class="accountWrap">
						<p id="account">ACCOUNT</p>
						<ul class="account">
							<li class="first"><%= link_to "My Topics", user_items_url(user) %></li>
							<li><%= link_to "My Synapses", user_synapses_url(user) %></li>
							<li><%= link_to "My Maps", user_maps_url(user) %></li>
							<li><%= link_to "Invite", invite_path %></li>
							<li><%= link_to "Settings", edit_user_url(user) %></li>
							<% unless Map.first(:conditions => [ "id = ?", 7]).nil? %>
							   <li><%= link_to "Feedback", map_path(Map.find(7)) %></li>
						    <% end %>
							<li class="last"><%= link_to "Logout", session_path, method: 'delete', id: "Login" %></li>
						</ul>
					</li>
					<li>|</li>
					<li class="createWrap">
						<p id="create">CREATE</p>
						<ul class="create">
							<li class="first"><%= link_to "Add Map", new_map_path, id: "newmap" %></li>
						</ul>	
					</li>					
				</ul>
			<% end %>
		</div>
		<div class="clearfloat"></div> 
    
		<div class="wrapper" id="wrapper">
			<%= yield %>
		</div>
		
		<div class="footer">
	  <div class="logo"><h1 id="mainTitle"><%= link_to "metamaps", root_url %></h1><div id="beta">beta</div></div>
    </div>
    
  <% end %>
  <%= render :partial => 'layouts/ga' if Rails.env.production? %>
</body>
