<h1 class="index">Sign Up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <h3>Sign Up</h3>

  <div><%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %></div>
  
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.label "Access Code" %>
  <%= f.text_field :joinedwithcode %></div>

  <div><%= f.submit "Sign up" %></div>
  
  <div><br>Don't have an access code? <a href="/request">Request an Invite</a></div>
<% end %>


